<mat-sidenav-container style="height: 100vh;">

  <mat-sidenav mode="side" opened style="width: 240px;">
    <mat-toolbar color="primary">
      <span>Registrar</span>
    </mat-toolbar>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span style="flex: 1;">Dashboard</span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div style="padding: 24px;">
      <router-outlet />
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
